<!doctype html>
<html>
  <head>
	<title>Orbital defence game</title>
	<meta charset="utf-8" />
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
	<div class="container-fluid">
	  <div class="row">
        <div class="col-lg-4 centered" style="float: none; margin: 0 auto;">
		  <h1>Scores</h1>
		  <div id="yourScore" style="display: none;">
			<p>You scored</p>
 			<input type='text' class='form-control' id='playerName' placeHolder='your name'/>
			<button id="addScore" name="addScore" class='btn btn-info' type='button'>Submit</button>
		  </div>
		  <div id="otherScore"></div>
		  <a href="index.html">Click to restart</a>
		</div>
	  </div>
	</div>
	<script type="text/html" id="tableTemplate">
	  <table class="table" id="scoresTable">
		<thead>
		  <tr>
			<td>Name</td>
			<td>Result</td>
		  </tr>
		</thead>
		<tbody>
		  <% _.each(data, function(item) { %>
		  <tr>
			<td><%=item.user%></td>
			<td><%=item.result%></td>
		  </tr>
		  <% }) %>
		</tbody>
	  </table>
	</script>
	<script data-main="scripts/results.js" src="bower_components/requirejs/require.js"></script>
  </body>
</html>
